html, body{
  margin: 0;
  padding:0;
  height: 100%;
  width:100%;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  background-color: #ffffff;
  min-width: 320px;
}

ul,ol{
  list-style: none;
}

.h1 {
font:72px/90px Playfair Display,serif;
}

.h2 {
font:42px/60px Playfair Display,serif;
}

.h3 {
font:26px/40px Playfair Display,serif;
}

.h4 {
font:300 72px/90px Source Sans Pro,sans-serif;
}

.h6 {
font:600 18px/40px Source Sans Pro,sans-serif;
}

a {
  text-decoration: none;
  color: #01293d;
  cursor: pointer;
}

/* the grey color #f4f4f4; */

/* Global */

.container{
  max-width: 1440px;
  box-sizing: initial;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

/* Old header */

header ul{
  margin: 0;
  padding: 0;
}

/* Header */

header{
  background: #ffffff;
  color: #000000;
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  min-height: 70px;

}

header a{
  color: #999;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header nav{
  float: right;
  margin-top: 10px;
}

header #branding h1{
  margin: 0;
}


header .highlight{
  color: #0b94d1;
}

header #branding{
  float: left;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

.header--ul, .header--li{
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

/* Showcase */


/* New header

.header--fixed-header{
  position: fixed;
  height: 120px;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;

}

.header--row{
  box-shadow: 0 2px 20px 0 hsla(0,0%,75%,.5);
  background-color: #fff;
  height:100%;
}

.sticky-tabs .header--row {
  box-shadow: 0 -2px 10px 0 hsla(0, 0%, 75%, .5);
}

.header--content{
  max-width: 1560px;
  position: relative;
  height:100%;
  margin: 0 auto;
}

.header--logo-wrapper{
  height:100%;
  width:280px;
  display: inline-block;
  vertical-align: top;
  margin: 0 3.5% 0 5%;
}

.header--logo-link {
  width: 100%;
  text-decoration: none;
}

.header--ul:last-child{
  margin-right: 0!important;
}

.header--ul.__secondary{
  float:right;
  margin-right: 20%;
}

.header--ul.__secondary .header--menu-link{
  padding: 0 12px;
}

.header--menu-link{
  font: 600 16px/20px Source Sans Pro, sans-serif;
  text-decoration: none;
  color: #80949e;
  position: relative;
  padding: 0 30px;
}

.header--menu-link, .header--menu-link:before{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.header--menu-link:before{
  content: "";
}

.header--menu-link:after{
  content:"";
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 4px;
  position: absolute;
  background-color: #0b94d1;
  transition: opacity .3s;
}

.heaeder--button{
  position: absolute;
  top: 20px;
  right:5%;
}

.header--open-menu{
  z-index: 2;
  right: 63px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.header.opened-menu .header--mobile-menu {
opacity:.98;
visibility:visible;
}

.expand-disabled .header .header--fixed-header {
-webkit-transform:translateY(-100%);
transform:translateY(-100%);
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,.slick-slide img,.slick-initialized .slick-slide,.ie .modal-content,.sharer--desktop .sharer--icon,.process-tabs--wrap-desktop,.article.__active,.es-process-tabs--wrap-desktop {
display:block;
}

.a.__hover-dark:hover,.c-dark,.house-model--button:hover,.process-open-button:hover .process-open-button--text,.es-process-open-button:hover .es-process-open-button--text,.search-result-item--title,.header--menu-link.__active,.header--menu-link:active,body:not(.touch-device) .header--menu-link:hover {
color:#01293d;
}

.marquee:before,.history--menu-item:before,.meet-team--menu-item:before,.header--logo-wrapper:before {
content:"";
height:100%;
}

.header--ul,.header--li {
height:100%;
display:inline-block;
vertical-align:top;
}

.inline-block,.header--visible-desktop {
display:inline-block!important;
}

.logo--h1{
  text
}

*/
/* showcase */



#showcase  .h-marquis{
  height: 100vh;
  width: 100%;
  margin: auto;
  background: url('../img/growingfacility1.png') no-repeat;
  text-align: center;
  color: #ffffff;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  max-height: 500px;
  padding-left: 0px;
  padding-right: 0px;
}

#showcase .h-marquee--text{
  padding-top: 15px;
}


#showcase .showcase_img img{
    object-fit: scale-down;
    overflow: hidden;
    padding: 0;
    background-size: cover;
    position:relative;

}

#showcase h3{
    font-size: 13px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 0;
    color: #ffffff;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


#showcase h1{
  margin-top: 0px;
  font-size: 42px;
  margin-bottom: 0px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
}

#showcase p{
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 0px;
  padding-top: 0px;
  line-height: 30px;
  margin-right: 300px;
  margin-left: 300px;
  position: static;

}

#showcase .s_buttons{
  padding-right: 40px;
}

/* Showcase buttons */

.button_3{
  text-align: center;
  color: #0b94d1;
  border: 2px solid #0b94d1;
  box-sizing: border-box;
  display: inline-block;
  text-align: none;
  border-radius: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  font-stretch: normal;
  background: #ffffff;
  padding: 10px 30px;
  clear: both;
  margin-top: 54px;
  margin-left: 40px;
  text-transform: uppercase;
}


.button_4{
  text-align: center;
  color: #ffffff;
  border: 2px solid #0b94d1;
  box-sizing: border-box;
  display: inline-block;
  text-align: none;
  border-radius: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  font-stretch: normal;
  background: #0b94d1;
  padding: 10px 30px;
  clear: both;
  margin-top: 54px;
  margin-left: 40px;
  text-transform: uppercase;
}

/* Showcase button hover */

.button_3:hover{
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  display: inline-block;
  text-align: none;
  border-radius: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  font-stretch: normal;
  background: #0b94d1;
  padding: 10px 30px;
  clear: both;
  margin-top: 54px;
  margin-left: 40px;
  text-transform: uppercase;
  transition-duration: .3s;
}

.button_4:hover{
  text-align: center;
  color: #0b94d1;
  border: 2px solid #0b94d1;
  box-sizing: border-box;
  display: inline-block;
  text-align: none;
  border-radius: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  font-stretch: normal;
  background: #ffffff;
  padding: 10px 30px;
  clear: both;
  margin-top: 54px;
  margin-left: 40px;
  text-transform: uppercase;
  transition-duration: .3s;
}

/* Low-Bar */

#low-bar{
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  color: #ffffff;
  background: #35424a;
}

#low-bar h2{
    float: left;
    color: #ffffff;
    background: #35424a;
}

.button_1{
  float:right;
  margin-top: 15px;
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  border-radius: 10px;
}


/* Grabber */

#grabber{
  margin-top: 0px;
  background:#ffffff;
  min-height: 400px;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 80px;
}

#grabber .phead{
  float: left;
  text-align: left;
  width: 360px;
  height: 550px;
  padding:0px;
  margin-left: 148px;

}

#grabber .phead h2{
  text-transform: uppercase;
  font-size: 42px;
  padding-left: 0px;
  padding-right: 0px;
  color: #000000;
  padding-top: 0px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  padding-bottom: none;
  column-span: all;
  margin-bottom: 33px;
  text-decoration: none;
  line-height: 50px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-stretch: normal;
  margin-top: 0;
}

#grabber .phead h3{
  padding: 0;
  margin-bottom: 0px;
  color: #0b94d1;
  font-size: 12px;
  line-height: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  text-transform: uppercase;
  margin-bottom: 3px;
}

#grabber .phead p{
  text-align: justify;
  padding-right: 0px;
  color: #999;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 29px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0px;
  margin-top: 0px;
}

.button_2{
  text-align: center;
  color: #0b94d1;
  border: 2px solid #0b94d1;
  box-sizing: border-box;
  display: inline-block;
  text-align: none;
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-stretch: normal;
  background: #ffffff;
  padding: 15px 47px;
  clear: both;
  margin-top: 54px;
  margin-left: 40px;
  text-transform: uppercase;
  box-shadow: 0 20px 27px 3px rgba(0,0,0,.1);
}

.button_2:hover{
  text-align: center;
  color: #ffffff;
  border: 2px solid #0b94d1;
  box-sizing: border-box;
  display: inline-block;
  text-align: none;
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-stretch: normal;
  background: #0b94d1;
  padding: 15px 47px;
  clear: both;
  margin-top: 54px;
  margin-left: 40px;
  text-transform: uppercase;
  box-shadow: 0 20px 27px 3px rgba(0,0,0,.1);
  transition-duration: .3s;
}

/* Our Services - Home */

 #h_services{
  background: #f1f4f5;
  background-color: #f1f4f5;
  height: 550px;
  background: #f1f4f5;
  padding-top: 95px;
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 40px;
  max-width: 100%;

}

#h_services .box{
  margin-right: 30px;
  margin-left: 30px;
}



#h_services h3{
  padding: 0;
  margin-bottom: 0px;
  color: #0b94d1;
  font-size: 12px;
  line-height: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
}

#h_services h1{

  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 42px;
  font-weight: 300;
  font-stretch: normal;
  margin-top: 0px;
  line-height: 50px;
  margin-right: 56px;
  margin-left: 56px;
  max-width: 750px;

}

#h_services p{
  margin-right: 56.250px;
  margin-left: 56.250px;
  text-align: center;
  color: #999;

  font-size: 18px;
  line-height: 29px;
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  font-weight: normal;
  max-width: 85%;
  vertical-align: baseline;
}

#h_services .box{
  text-align: center;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

/* #h_services .box .reb{
  text-align: center;
  float: left;
  padding: 10px;
  width: 30%;
  color: #35424a;

  font-size: 2px;
  margin-top: 30px;
  line-height: 1.4px;

}

#h_services .box .reb h1{
  font-size: 70px;
  font-family: 'Lato', serif;
  font-weight: 100;
  margin-bottom: 20px;
}

#h_services .box .reb h3{
  margin-top: 0;
  color: #35424a;
  text-align: center;
  margin-left: auto;
}

#h_services .box .reb p{
  margin: 0 0 0 0;
  font-size: 24px;
  text-align: center;
  margin-right: 0px;
  float: right;
  line-height: 28px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
} */

#h_services .box .snowflake{
  text-align: center;
  float: left;
  padding: 10px;
  width: 30%;
  color: #0b94d1;
}

#h_services .box .dollar{
  text-align: center;
  float: left;
  padding: 10px;
  width: 30%;
  color: #0b94d1;
}

#h_services .box .wrench{
  text-align: center;
  float: left;
  padding: 10px;
  width: 30%;
  color: #0b94d1;
}

#h_services .box .icons{
  padding-top: 50px;
  color: #0b94d1;
}



/* FA Headers */

#h_services .box .snowflake h3{
  text-align: center;
  padding-top: 15px;
  font-family: "Source Sans Pro", sans-serif;
}

#h_services .box .dollar h3{
  text-align: center;
  padding-top: 15px;
  font-family: "Source Sans Pro", sans-serif;

}

#h_services .box .wrench h3{
  text-align: center;
  padding-top: 15px;
  font-family: "Source Sans Pro", sans-serif;
  color: #0b94d1;

}

#h_services .box .wrench :hover{
  color: #ffffff;

  position: relative;
  transform: scale(1.1);



  transition-duration: .3s;

}


/* Process */

#process{
  background-color: #ffffff;
  height: 550px;
  background: #ffffff;
  padding-top: 95px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  max-width: 100%;
  margin-left: 210px;
  margin-right: 210px;

}



#process h3{
  padding: 0;
  margin-bottom: 0px;
  color: #0b94d1;
  font-size: 12px;
  line-height: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
}

#process h1{

  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 42px;
  font-weight: 200;
  font-stretch: normal;
  margin-top: 0px;
  line-height: 50px;
  margin-right: 105px;
  margin-left: 105px;

}


#process p{
  text-align: center;
  color: #999;
  font-size: 18px;
  line-height: 29px;
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  font-weight: normal;
  margin-top: 0px;
  vertical-align: baseline;
}

#process .p-box{
  text-align: center;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}


#process .icons{
  padding-top: 40px;
  display: block;
  padding-left: 30px;
  padding-right: 30px;

}

#process .p-box .icons .snowflake{
  text-align: center;
  float: left;
  width:30%;
  box-sizing: border-box;
  vertical-align: baseline;
  padding: 10px;
  padding-left: 30px;
}

#process .p-box .icons .dollar{
  text-align: center;
  float: left;
  width:30%;
  box-sizing: border-box;
  vertical-align: baseline;
  padding: 10px;
  padding-left: 80px;

}

#process .p-box .icons .wrench{
  text-align: center;
  float: left;
  width: 30%;
  box-sizing: border-box;
  vertical-align: baseline;
  padding: 10px;
  padding-left: 80px;

}

#process .p-box .icons .wrench h3{
  color:#999;
}

#process .p-link{
  padding-top: 100px;
  margin-top: 80px;
  display: block;
}

#process .p-link a{
  padding: 10px;
  width: 30%;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #0b94d1;
  text-align: center;
}

/* Testimonial */

#testimonial{
  background: #f1f4f5;
  background-color: #f1f4f5;
  height: 400px;
  background: #f1f4f5;
  padding-top: 95px;
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 40px;
  max-width: 100%;
}

#testimonial .t-box h3{
  padding: 0;
  margin-bottom: 0px;
  color: #0b94d1;
  font-size: 12px;
  line-height: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-stretch: normal;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: center;
}

#testimonial .t-box h1{

  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 42px;
  font-weight: 300;
  font-stretch: normal;
  margin-top: 0px;
  line-height: 50px;
  margin-right: 56px;
  margin-left: 56px;
  max-width: 750px;
}

#testimonial .logo_1 img{
  text-align: center;
  height: 20%;
  width: 20%;
  display: block;
  margin: auto;
}

#testimonial .logo_1 h3{

  text-align: center;
  margin-bottom: 5px;
}

#testimonial .logo_1 p{

  text-align: center;

  margin-top: 0px;
}


/* Footer */

footer{
  padding: 20px;
  margin-top: 20px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

#footer-menu{
  text-decoration: none;
  border-top: #CAC9C9 2px solid 100%;
  margin: 0;
  padding: 0;

}

#footer-menu li{
  float: right;
  display: inline;
  padding: 0 20px 5px 40px;
  font-size: 10px;

}

#footer-menu p{
  float: left;
  display: inline;
  padding: 0 20px 5px 40px;
  font-size: 10px;

}

#chart{
  width: 170px;
  height: 170px;

}

/* sandwhich */

.sandwhich{
  width:14px;
  height:14px;
  cursor:pointer;
  position: relative;
  display: inline-block;
}

.sandwhich--center-line, .sandwhich:after, .sandwhich:before{
  left:0;
  top: 50%;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  position:absolute;
  background-color: #01293d;
}

.sandwich:after,.sandwich:before {
content:"";
transition:transform .25s,-webkit-transform .25s;
}

.sandwich:before {
-webkit-transform:translateY(-4px);
transform:translateY(-4px);
}

.sandwich:after {
-webkit-transform:translateY(4px);
transform:translateY(4px);
}

.sandwich--center-line {
transition:opacity .3s;
}

.sandwich:active:before,body:not(.touch-device) .sandwich:hover:before {
-webkit-transform:translateY(-6px);
transform:translateY(-6px);
}

.sandwich:active:after,body:not(.touch-device) .sandwich:hover:after {
-webkit-transform:translateY(6px);
transform:translateY(6px);
}

.toggle-button--sandwhich{
  position:absolute;
  right: 0;
  top:8px;
}


@media max-width1550px{
  .header--logo-wrapper{
    margin: 0 3.5% 0 3.8%;
  }

  .header--ul.secondary{
    margin-right:21%;
  }

  .header--button{
    right:3.8%;
  }
}

@media max-width1380px{
  .header--logo-wrapper{
    margin:0 3.5% 0 3.2%;
  }

  .header--ul.__secondary{
    margin-right:22%;
  }

  .header--ul.__secondary .header--menu-link{
    padding: 0 7px;
  }

  .header--menu-link{
    padding: 0 11px;
  }

  .header--button{
    right:3.2%;
  }

}


/* Sandwich */

.sandwich {
width:14px;
height:14px;
cursor:pointer;
position:relative;
display:inline-block;
}

.sandwich--center-line,.sandwich:after,.sandwich:before {
left:0;
top:50%;
width:100%;
height:2px;
margin-top:-1px;
position:absolute;
background-color:#01293d;
}

.sandwich:after,.sandwich:before {
content:"";
transition:transform .25s,-webkit-transform .25s;
}

.sandwich:before {
-webkit-transform:translateY(-4px);
transform:translateY(-4px);
}

.sandwich:after {
-webkit-transform:translateY(4px);
transform:translateY(4px);
}

.sandwich--center-line {
transition:opacity .3s;
}

.sandwich:active:before,body:not(.touch-device) .sandwich:hover:before {
-webkit-transform:translateY(-6px);
transform:translateY(-6px);
}

.sandwich:active:after,body:not(.touch-device) .sandwich:hover:after {
-webkit-transform:translateY(6px);
transform:translateY(6px);
}

.toggle-button--sandwhich{
  position: absolute;
  right:0;
  top:8px;
}

.toggle-button {
width:57px;
height:30px;
cursor:pointer;
position:relative;
}

.toggle-button--text {
font:600 12px/30px Source Sans Pro,sans-serif;
text-transform:uppercase;
transition:opacity .3s;
pointer-events:none;
margin-right:11px;
position:absolute;
top:0;
left:0;
}

@media (max-width: 400px){
  header a{
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  header li{
    font-size: .563em;

  }

  header #branding h1{
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    float: left;
    padding-top: 7px;
    margin-left: 0px;
  }

  header .mobile--menu li{
    float: right;
  }

  header .toggle-button-open{
    float: right;
    font-size: 20px;
  }
}

@media (max-width: 1440px) {


  nav{
    width: 100%;
    background: #00316b;
    display: none;
  }

  ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }

  ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
  }

  ul li a{
    text-decoration: none;
    color: #fff;
  }

  header .toggle{
    width: 100%;
    padding: 10px 20px;
    background: #fff;
    text-align: right;
    box-sizing: border-box;
    font-size: 20px;
    display: none;
  }
}
